<!doctype html>
<html>
<head>
<title>first page</title>
</head>
<body>
    <div>
    <h1 style="color:red">WelCome to My Blog!!</h1>
    </div>
    <div>
    <h3 style="color:blue"><b><a href="">First List Item</a></b></h3>
        <p>skdfjdsklfj sdfkljdslkf dfkdsjflkds fsdfkjsdlkfjsd fsdlkfjsdlkjfds fsdjflskdjfsdb fsdfjlksdjfklsdf sdlkfjsdklfsd fjsdfkljsdf dslkjfsdlkfds fldskjflksdf sdlkfjsdlkf sdfkjsdlkf dsfkdjsklfds fldsjkflsd fdskjflksdf dskfkljdsklfjsd kdsjflkdsfj</p>
    </div>
    <div>
    <h3 style="color:blue"><b><a href="">Second List Item</a></b></h3>
        <p>skdfjdsklfj sdfkljdslkf dfkdsjflkds fsdfkjsdlkfjsd fsdlkfjsdlkjfds fsdjflskdjfsdb fsdfjlksdjfklsdf sdlkfjsdklfsd fjsdfkljsdf dslkjfsdlkfds fldskjflksdf sdlkfjsdlkf sdfkjsdlkf dsfkdjsklfds fldsjkflsd fdskjflksdf dskfkljdsklfjsd kdsjflkdsfj</p>
    </div>
    
</body>
</html>
